In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib as plt

In [2]:
df = pd.read_csv(r"C:\Users\HP\Documents\Factors_ affecting_ university_student_grades_dataset.csv")

In [3]:
df

,Age,Gender,Parental_Education,Family_Income,Previous_Grades,Attendance,Class_Participation,Study_Hours,stream,School_Type,...,Peer_Group,Bullying,Study_Space,Learning_Style,Tutoring,Mentoring,Lack_of_Interest,Time_Wasted_on_Social_Media,Sports_Participation,Grades
0,22.0,F,College,50000,A,81.0,Medium,8.0,Law,Private,...,Neutral,NaN,No,Visual,Yes,NaN,Low,2.0,NaN,B
1,21.0,M,NaN,60000,A,NaN,Medium,12.0,Law,Public,...,Negative,No,No,Auditory,Yes,Yes,Medium,5.0,High,NaN
2,19.0,M,College,75000,C,93.0,Medium,12.0,Law,Private,...,Neutral,No,Yes,NaN,No,No,Low,2.0,High,A
3,21.0,M,College,60000,A,86.0,Low,15.0,Business,Public,...,Neutral,No,NaN,Auditory,Yes,Yes,Low,3.0,Medium,C
4,19.0,NaN,NaN,40000,NaN,89.0,High,15.0,Medicine,NaN,...,Positive,No,No,Auditory,Yes,NaN,Medium,3.0,High,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10059,20.0,NaN,Some College,75000,A,78.0,NaN,16.0,Law,Private,...,Positive,Yes,Yes,Auditory,No,No,Medium,3.0,Low,B
10060,19.0,M,College,NaN,B,NaN,Medium,5.0,Science,Public,...,Positive,Yes,Yes,Visual,Yes,No,Low,4.0,High,A
10061,20.0,M,NaN,30000,B,97.0,Medium,7.0,Engineering,Public,...,Positive,Yes,Yes,Kinesthetic,No,No,High,3.0,High,A
10062,21.0,F,College,50000,B,75.0,Medium,15.0,NaN,Public,...,Negative,Yes,No,Kinesthetic,Yes,Yes,Low,4.0,Medium,A
10063,18.0,F,Some College,30000,A,80.0,Low,16.0,Law,Public,...,Neutral,No,Yes,Kinesthetic,No,Yes,Low,NaN,Low,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10064 entries, 0 to 10063
Data columns (total 35 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          9099 non-null   float64
 1   Gender                       9085 non-null   object
 2   Parental_Education           9102 non-null   object
 3   Family_Income                9097 non-null   object
 4   Previous_Grades              9120 non-null   object
 5   Attendance                   9060 non-null   float64
 6   Class_Participation          9098 non-null   object
 7   Study_Hours                  9073 non-null   float64
 8   stream                       9136 non-null   object
 9   School_Type                  9115 non-null   object
 10  Financial_Status             9129 non-null   object
 11  Parental_Involvement         9118 non-null   object
 12  Educational_Resources        9129 non-null   object
 13  Motivation                   9094 non-null   object
 14  Self_Esteem                  9152 non-null   object
 15  Stress_Levels                9145 non-null   object
 16  School_Environment           9106 non-null   object
 17  Professor_Quality            9114 non-null   object
 18  Class_Size                   9114 non-null   float64
 19  Extracurricular_Activities   9159 non-null   object
 20  Sleep_Patterns               9048 non-null   float64
 21  Nutrition                    9087 non-null   object
 22  Physical_Activity            9090 non-null   object
 23  Screen_Time                  9120 non-null   float64
 24  Educational_Tech_Use         9071 non-null   object
 25  Peer_Group                   9145 non-null   object
 26  Bullying                     9089 non-null   object
 27  Study_Space                  9057 non-null   object
 28  Learning_Style               9080 non-null   object
 29  Tutoring                     9133 non-null   object
 30  Mentoring                    9118 non-null   object
 31  Lack_of_Interest             9136 non-null   object
 32  Time_Wasted_on_Social_Media  9137 non-null   float64
 33  Sports_Participation         9108 non-null   object
 34  Grades                       9024 non-null   object
dtypes: float64(7), object(28)
memory usage: 2.7+ MB

In [5]:
df.describe()

,Age,Attendance,Study_Hours,Class_Size,Sleep_Patterns,Screen_Time,Time_Wasted_on_Social_Media
count,9099.000000,9060.000000,9073.000000,9114.000000,9048.000000,9120.000000,9137.000000
mean,19.996703,84.908499,12.467761,60.238754,6.538904,6.031469,3.489329
std,1.406885,8.985221,4.613845,23.337209,1.720632,2.597880,1.704057
min,18.000000,70.000000,5.000000,20.000000,4.000000,2.000000,1.000000
25%,19.000000,77.000000,9.000000,40.000000,5.000000,4.000000,2.000000
50%,20.000000,85.000000,12.000000,61.000000,7.000000,6.000000,3.000000
75%,21.000000,93.000000,16.000000,80.000000,8.000000,8.000000,5.000000
max,22.000000,100.000000,20.000000,100.000000,9.000000,10.000000,6.000000

In [7]:
df.columns

Index(['Age', 'Gender', 'Parental_Education', 'Family_Income',
       'Previous_Grades', 'Attendance', 'Class_Participation', 'Study_Hours',
       'stream', 'School_Type', 'Financial_Status', 'Parental_Involvement',
       'Educational_Resources', 'Motivation', 'Self_Esteem', 'Stress_Levels',
       'School_Environment', 'Professor_Quality', 'Class_Size',
       'Extracurricular_Activities', 'Sleep_Patterns', 'Nutrition',
       'Physical_Activity', 'Screen_Time', 'Educational_Tech_Use',
       'Peer_Group', 'Bullying', 'Study_Space', 'Learning_Style', 'Tutoring',
       'Mentoring', 'Lack_of_Interest', 'Time_Wasted_on_Social_Media',
       'Sports_Participation', 'Grades'],
      dtype='object')

In [8]:
unique_values = df['Family_Income'].unique()

print("Unique values in 'Family_Income' column:")
print(unique_values)

Unique values in 'Family_Income' column:
['50000' '60000' '75000' '40000' nan '30000' 'Unknown']

In [9]:
df['Family_Income'] = df['Family_Income'].replace('Unknown', np.nan)

In [10]:
unique_values = df['Family_Income'].unique()
unique_values

array(['50000', '60000', '75000', '40000', nan, '30000'], dtype=object)

In [11]:
df['Family_Income'] = df['Family_Income'].astype(float)

In [12]:
df.isnull().sum()

Age                             965
Gender                          979
Parental_Education              962
Family_Income                   968
Previous_Grades                 944
Attendance                     1004
Class_Participation             966
Study_Hours                     991
stream                          928
School_Type                     949
Financial_Status                935
Parental_Involvement            946
Educational_Resources           935
Motivation                      970
Self_Esteem                     912
Stress_Levels                   919
School_Environment              958
Professor_Quality               950
Class_Size                      950
Extracurricular_Activities      905
Sleep_Patterns                 1016
Nutrition                       977
Physical_Activity               974
Screen_Time                     944
Educational_Tech_Use            993
Peer_Group                      919
Bullying                        975
Study_Space                    1007
Learning_Style                  984
Tutoring                        931
Mentoring                       946
Lack_of_Interest                928
Time_Wasted_on_Social_Media     927
Sports_Participation            956
Grades                         1040
dtype: int64

In [13]:
df_mean=df['Age'].mean()
df['Age']=df['Age'].fillna(df_mean)

df_mean=df['Family_Income'].mean()
df['Family_Income']=df['Family_Income'].fillna(df_mean)

df_mean=df['Attendance'].mean()
df['Attendance']=df['Attendance'].fillna(df_mean)

df_mean=df['Study_Hours'].mean()
df['Study_Hours']=df['Study_Hours'].fillna(df_mean)

df_mean=df['Class_Size'].mean()
df['Class_Size']=df['Class_Size'].fillna(df_mean)

df_mean=df['Sleep_Patterns'].mean()
df['Sleep_Patterns']=df['Sleep_Patterns'].fillna(df_mean)

df_mean=df['Screen_Time'].mean()
df['Screen_Time']=df['Screen_Time'].fillna(df_mean)

df_mean=df['Time_Wasted_on_Social_Media'].mean()
df['Time_Wasted_on_Social_Media']=df['Time_Wasted_on_Social_Media'].fillna(df_mean)

In [14]:
mode_value= df["Gender"].mode()[0]
df["Gender"].fillna(mode_value, inplace= True)

mode_value= df["Parental_Education"].mode()[0]
df["Parental_Education"].fillna(mode_value, inplace= True)

mode_value= df["Previous_Grades"].mode()[0]
df["Previous_Grades"].fillna(mode_value, inplace= True)

mode_value= df["Class_Participation"].mode()[0]
df["Class_Participation"].fillna(mode_value, inplace= True)

mode_value= df["stream"].mode()[0]
df["stream"].fillna(mode_value, inplace= True)

mode_value= df["School_Type"].mode()[0]
df["School_Type"].fillna(mode_value, inplace= True)

mode_value= df["Financial_Status"].mode()[0]
df["Financial_Status"].fillna(mode_value, inplace= True)

mode_value= df["Parental_Involvement"].mode()[0]
df["Parental_Involvement"].fillna(mode_value, inplace= True)

mode_value= df["Educational_Resources"].mode()[0]
df["Educational_Resources"].fillna(mode_value, inplace= True)

mode_value= df["Motivation"].mode()[0]
df["Motivation"].fillna(mode_value, inplace= True)

mode_value= df["Self_Esteem"].mode()[0]
df["Self_Esteem"].fillna(mode_value, inplace= True)

mode_value= df["Stress_Levels"].mode()[0]
df["Stress_Levels"].fillna(mode_value, inplace= True)

mode_value= df["School_Environment"].mode()[0]
df["School_Environment"].fillna(mode_value, inplace= True)

mode_value= df["Professor_Quality"].mode()[0]
df["Professor_Quality"].fillna(mode_value, inplace= True)

mode_value= df["Extracurricular_Activities"].mode()[0]
df["Extracurricular_Activities"].fillna(mode_value, inplace= True)

mode_value= df["Nutrition"].mode()[0]
df["Nutrition"].fillna(mode_value, inplace= True)

mode_value= df["Physical_Activity"].mode()[0]
df["Physical_Activity"].fillna(mode_value, inplace= True)

mode_value= df["Sports_Participation"].mode()[0]
df["Sports_Participation"].fillna(mode_value, inplace= True)

mode_value= df["Educational_Tech_Use"].mode()[0]
df["Educational_Tech_Use"].fillna(mode_value, inplace= True)

mode_value= df["Peer_Group"].mode()[0]
df["Peer_Group"].fillna(mode_value, inplace= True)

mode_value= df["Bullying"].mode()[0]
df["Bullying"].fillna(mode_value, inplace= True)

mode_value= df["Study_Space"].mode()[0]
df["Study_Space"].fillna(mode_value, inplace= True)

mode_value= df["Learning_Style"].mode()[0]
df["Learning_Style"].fillna(mode_value, inplace= True)

mode_value= df["Tutoring"].mode()[0]
df["Tutoring"].fillna(mode_value, inplace= True)

mode_value= df["Mentoring"].mode()[0]
df["Mentoring"].fillna(mode_value, inplace= True)

mode_value= df["Lack_of_Interest"].mode()[0]
df["Lack_of_Interest"].fillna(mode_value, inplace= True)

mode_value= df["Grades"].mode()[0]
df["Grades"].fillna(mode_value, inplace= True)

In [15]:
df.isnull().sum()

Age                            0
Gender                         0
Parental_Education             0
Family_Income                  0
Previous_Grades                0
Attendance                     0
Class_Participation            0
Study_Hours                    0
stream                         0
School_Type                    0
Financial_Status               0
Parental_Involvement           0
Educational_Resources          0
Motivation                     0
Self_Esteem                    0
Stress_Levels                  0
School_Environment             0
Professor_Quality              0
Class_Size                     0
Extracurricular_Activities     0
Sleep_Patterns                 0
Nutrition                      0
Physical_Activity              0
Screen_Time                    0
Educational_Tech_Use           0
Peer_Group                     0
Bullying                       0
Study_Space                    0
Learning_Style                 0
Tutoring                       0
Mentoring                      0
Lack_of_Interest               0
Time_Wasted_on_Social_Media    0
Sports_Participation           0
Grades                         0
dtype: int64

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10064 entries, 0 to 10063
Data columns (total 35 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          10064 non-null  float64
 1   Gender                       10064 non-null  object
 2   Parental_Education           10064 non-null  object
 3   Family_Income                10064 non-null  float64
 4   Previous_Grades              10064 non-null  object
 5   Attendance                   10064 non-null  float64
 6   Class_Participation          10064 non-null  object
 7   Study_Hours                  10064 non-null  float64
 8   stream                       10064 non-null  object
 9   School_Type                  10064 non-null  object
 10  Financial_Status             10064 non-null  object
 11  Parental_Involvement         10064 non-null  object
 12  Educational_Resources        10064 non-null  object
 13  Motivation                   10064 non-null  object
 14  Self_Esteem                  10064 non-null  object
 15  Stress_Levels                10064 non-null  object
 16  School_Environment           10064 non-null  object
 17  Professor_Quality            10064 non-null  object
 18  Class_Size                   10064 non-null  float64
 19  Extracurricular_Activities   10064 non-null  object
 20  Sleep_Patterns               10064 non-null  float64
 21  Nutrition                    10064 non-null  object
 22  Physical_Activity            10064 non-null  object
 23  Screen_Time                  10064 non-null  float64
 24  Educational_Tech_Use         10064 non-null  object
 25  Peer_Group                   10064 non-null  object
 26  Bullying                     10064 non-null  object
 27  Study_Space                  10064 non-null  object
 28  Learning_Style               10064 non-null  object
 29  Tutoring                     10064 non-null  object
 30  Mentoring                    10064 non-null  object
 31  Lack_of_Interest             10064 non-null  object
 32  Time_Wasted_on_Social_Media  10064 non-null  float64
 33  Sports_Participation         10064 non-null  object
 34  Grades                       10064 non-null  object
dtypes: float64(8), object(27)
memory usage: 2.7+ MB